*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:Arial, Helvetica, sans-serif;

background:#15151E;

color:white;

overflow-x:hidden;

}

/**************** NAVBAR **************/

#navbar{

position:fixed;

top:0;

left:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:35px 60px;

transition:.4s;

z-index:999;

background:transparent;

}

#navbar.scrolled{

padding:18px 60px;

background:rgba(21,21,30,.95);

backdrop-filter:blur(10px);

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

.logo{

font-size:28px;

font-weight:bold;

font-family:'Dancing Script',cursive;

}

#navbar ul{

display:flex;

list-style:none;

gap:35px;

}

#navbar a{

color:white;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

#navbar a:hover{

color:#E74C3C;

}

/**************** HERO **************/

#hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(rgba(15,15,20,.75),rgba(15,15,20,.95)),
url("../images/background.jpg");

background-size:cover;

background-position:center;

}

.hero-content{

animation:fadeUp 1.3s;

}

.hero-content h1{

font-size:95px;

font-family:'Dancing Script',cursive;

margin-bottom:20px;

}

.hero-content p{

font-size:22px;

color:#ddd;

margin-bottom:50px;

}

.scroll{

display:inline-block;

font-size:40px;

color:#E74C3C;

text-decoration:none;

animation:bounce 1.5s infinite;

}

/**************** MAIN **************/

main{

background:white;

color:#222;

}

section{

min-height:100vh;

padding:120px 80px;

}

section h2{

font-size:42px;

margin-bottom:25px;

}

/**************** ANIMATIONS **************/

@keyframes bounce{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(12px);

}

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/************* Responsive *************/

@media(max-width:768px){

#navbar{

padding:25px;

}

.hero-content h1{

font-size:60px;

}

.hero-content p{

font-size:18px;

}

section{

padding:80px 25px;

}

}